/*
  Description: Custom CSS to override bootstrap CSS files
  Author: David McRae & Oliver Dickens
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root
{
  scroll-behavior: smooth;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-danger: red;
  --bg-info: teal;
  --transition-speed: 600ms;
  --transitionCard-speed: 400ms;
}
a {
  color: var(--text-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
  text-decoration: none;
}
/*--------------------------------------------------------------
# Font Setting
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: "Nunito", sans-serif;
}
body
{
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}
.form-control .input-group-text .custom-select
{
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container
{
  margin-top: 60px;
  transition: all 0.3s;
  color: #ffffff;
  padding-top: 5%;
  letter-spacing: 1px;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body::-webkit-scrollbar
{
  width: .5rem;
}

body::-webkit-scrollbar-track
{
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb
{
  background: var(--bg-info);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}
/*--------------------------------------------------------------
# Cards for Movies/Shows
# Displayed classes
--------------------------------------------------------------*/
/* .card
{
  background-color: var(--bg-primary);
  border:none;
}

.card img:hover
{
  box-shadow: 2px 4px var(--bg-info);
} */
/* font below movie*/
/* .card-bottom
{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.card img
{
  box-shadow: 2px 4px var(--bg-secondary);
  max-width: 12rem;
  min-width: 12rem;
  min-height: 18rem;
  max-height: 18rem;
} */


/* .card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}
.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.card-body {
  padding: 0 20px 20px 20px;
}
.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
} */

/*--------------------------------------------------------------
# Play movie screens
--------------------------------------------------------------*/
.playVideo
{
  width:100%;
  margin-top: 2rem;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.playVideo video
{
  width:80%;
}

.videoDescription
{
  /* width:80% */
}

.videoPoster img
{
 border-radius: 0.5rem;
 width: 15rem;
}
/*--------------------------------------------------------------
# LOGO's
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
/*--------------------------------------------------------------
# Page Navigation
--------------------------------------------------------------*/

.page-link
{
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.page-link:hover
{
  background-color: var(--bg-info);
  color: var(--text-primary);
}

.form-control{
  border-radius: 10em;
}
/*--------------------------------------------------------------
# Navbar essentials
--------------------------------------------------------------*/

/* New */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}
/* Old */
.navbar
{
  background-color: var(--bg-secondary);
  z-index:100;
  padding: 0;
}
.form-control:focus:hover
{
  background-color: var(--bg-primary);
}
.form-control
{
  background-color: var(--bg-primary);
}
.custom-select
{
      background-color: var(--bg-primary);
      color: var(--text-secondary);
}
#inputGroupPrepend
{
      background-color: var(--bg-secondary);
      color: var(--text-secondary);
}

.list-group-item
{
  width:100%;
  margin: 0;
  padding: 20;
  border: none;
  min-height: 5rem;
  background: var(--bg-secondary);

  filter: grayscale(0%) opacity(0.7);
  transition: var(--transition-speed);
}

.list-group-item span
{
      text-align: center;
}

.nav-link
{
  padding: none;
}

.list-group-item i
{
  color: var(--text-secondary);
}
.list-group-item span
{
  color: var(--text-secondary);
}

.list-group-item:hover
{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary);
}

.logo
{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: black;
  letter-spacing: 0.3ch;
  width: 100%;
  padding: 1rem;
}

.sideBar
{
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
}
#top:a
{
  font-size: 1.5rem;
}

.logo i
{
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  transition: var(--transition-speed);
}

.navbar:hover .logo i
{
  transform: rotate(-180deg);
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Display no mobile search as this will only display on mobile screen sizes
--------------------------------------------------------------*/
#mobileSearch
{
  display:none;
}

/* Small screens mobile */
@media only screen and (max-width: 1062px)
{
  #pcSearch
  {
    display:none;
  }

  #mobileSearch
  {
    display:block;
  }
}

@media only screen and (max-width: 992px)
{
  .videoPoster
  {
    display:none;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 450px)
{
  .list-group-item
  {
    background: #000;
    transition: var(--transition-speed);
  }
  .videoPlayer
  {
    justify-content: center;
    align-items: center;
  }

  .col
  {
    /* min-width: 50%;  this is needed as the boostrap forces it to $row  */
    justify-content: center;
    align-items: center;
  }
  .card img
  {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 15rem;
    min-height: 15rem;
  }

}
/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}
