/*
  Description: Custom CSS to override bootstrap CSS files
  Author: David McRae & Oliver Dickens
*/

/* Colours and Animation Speed*/
:root
{

  --primaryBackgroundColour: #17181c;
  --secondaryBackgroundColour: #2a2c33;
  --primaryColour: #17a2b8;
  --secondaryColour: #2a2c33;
  --primaryTextColour: #ffffff;
  --scondaryTextColour: #6c757d;

  /* animation */
  --transition-speed: 600ms;
  --transitionCard-speed: 400ms;
}
/* Direct Ovveride of Bootstrap */

/*//////////////////////////////*/

body
{
  background-color: var(--primaryBackgroundColour);
  color: var(--primaryTextColour);
  font-family: 'Roboto';
}

text
{
  color:var(--primaryTextColour);
}

footer
{
  background-color: var(--secondaryBackgroundColour);
  padding: 0;
}

/* Page Navigation  */
.page-link
{
  background-color: var(--primaryBackgroundColour);
}

.page-link:hover
{
  background-color: red;
}

body .form-control .input-group-text .custom-select
{
  background-color: var(--primaryBackgroundColour);
}

footer
{
  background-color: var(--secondaryBackgroundColour);
  padding: 2rem;
}

.pagination a
{
  color:var(--primaryColour);
}

.pagination a:hover
{
  background-color: var(--primaryColour);
  color: var(--primaryTextColour);
}

.container
{
  background-color: var(--primaryBackgroundColour);
}

/* these are our movie displayed classes*/
/* these are our movie cards*/
.card
{
  background-color: var(--primaryBackgroundColour);
  border:none;
}

.card img:hover
{
  box-shadow: 2px 4px var(--primaryColour);
}

/* the image*/
.card img
{
  box-shadow: 2px 4px var(--secondaryBackgroundColour);
  max-width: 12rem;
  min-width: 12rem;
  min-height: 18rem;
  max-height: 18rem;
}

/* font below movie*/
.card-bottom
{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* these are our play movie screens */
.playVideo
{
  width:100%;
  margin-top: 2rem;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.playVideo video
{
  width:80%;
}

.videoPoster img
{
 border-radius: 0.5rem;
 width: 15rem;
}


@media only screen and (max-width: 992px)
{
  .videoPoster
  {
    display:none;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 450px)
{
  .list-group-item
  {
    background: #000;
    transition: var(--transition-speed);
  }
  .videoPlayer
  {
    justify-content: center;
    align-items: center;
  }

  .col
  {
    /* min-width: 50%;  this is needed as the boostrap forces it to $row  */
    justify-content: center;
    align-items: center;
  }
  .card img
  {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 15rem;
    min-height: 15rem;
  }

}

/*--------------------------------------------------*/
/* CHROME ADDITIONS*/
body::-webkit-scrollbar
{
  width: .5rem;
}

body::-webkit-scrollbar-track
{
  background: var(--secondaryBackgroundColour);
}

body::-webkit-scrollbar-thumb
{
  background: red;
}
/*--------------------------------------------------*/
